/* ---- 💫 Catppuccin Macchiato Theme 💫 ---- */
/* wallust template - colors-rofi */

* {
  active-background: #8aadf4;
  active-foreground: #cad3f5;
  normal-background: #24273a;
  normal-foreground: #cad3f5;
  urgent-background: #ed8796;
  urgent-foreground: #cad3f5;

  alternate-active-background: #8aadf4;
  alternate-active-foreground: #cad3f5;
  alternate-normal-background: #24273a;
  alternate-normal-foreground: #cad3f5;
  alternate-urgent-background: #24273a;
  alternate-urgent-foreground: #cad3f5;

  selected-active-background: #8aadf4;
  selected-active-foreground: #24273a;
  selected-normal-background: #8aadf4;
  selected-normal-foreground: #24273a;
  selected-urgent-foreground: #cad3f5;

  background-color: #24273a;
  background: #24273a;
  foreground: #cad3f5;
  border-color: #8aadf4;

  color0: #494d64;
  color1: #ed8796;
  color2: #a6da95;
  color3: #eed49f;
  color4: #8aadf4;
  color5: #f5bde6;
  color6: #8bd5ca;
  color7: #b8c0e0;
  color8: #5b6078;
  color9: #ed8796;
  color10: #a6da95;
  color11: #eed49f;
  color12: #8aadf4;
  color13: #f5bde6;
  color14: #8bd5ca;
  color15: #cad3f5;
}

